* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search-container {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .search-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
